

<div *ngIf="flightSearchInputErrors">
  <div *ngIf="flightSearchInputErrors.departureAirportCodeRequired" class="alert alert-danger">Departure Airport Code is required</div>
  <div *ngIf="flightSearchInputErrors.departureAirportCodePattern" class="alert alert-danger">Departure Airport Code must be alphanumeric characters</div>
  <div *ngIf="flightSearchInputErrors.arrivalAirportCodeRequired" class="alert alert-danger">Arrival Airport Code is required</div>
  <div *ngIf="flightSearchInputErrors.arrivalAirportCodePattern" class="alert alert-danger">Arrival Airport Code must be alphanumeric characters</div>
  <div *ngIf="flightSearchInputErrors.departureDateRequired" class="alert alert-danger">Departure Date is required</div>
  <div *ngIf="flightSearchInputErrors.returnDateRequired" class="alert alert-danger">Return Date Date is required</div>
</div>

<form #form ="ngForm" (ngSubmit) ="submitForm(form)" novalidate>
  <div class="form-group">
    <label for="DepartureAirportCode">Departure airport code</label>
    <div>
      <input type="text"
             class="form-control"
             [class.invalid-control] = "flightSearchInputErrors && flightSearchInputErrors.departureAirportCodeHasError"
             id="DepartureAirportCode"
             #DepartureAirportCode="ngModel"
             name="DepartureAirportCode"
             [(ngModel)]="flightSearchParams.DepartureAirportCode"
             required maxlength="3"
             pattern="^[a-zA-Z0-9]+$">
    </div>
  </div>
  <div class="form-group">
    <label for="ArrivalAirportCode">Arrival airport code:</label>
    <div>
      <input type="text"
             class="form-control"
             [class.invalid-control] = "flightSearchInputErrors && flightSearchInputErrors.arrivalAirportCodeHasError"
             name ="ArrivalAirportCode"
             id="ArrivalAirportCode"
             #ArrivalAirportCode="ngModel"
             name="ArrivalAirportCode"
             [(ngModel)]="flightSearchParams.ArrivalAirportCode"
             required
             maxlength="3"
             pattern="^[a-zA-Z0-9]+$">
    </div>
  </div>
  <div class="form-group">
    <label>Departure date</label>
    <div>
      <my-date-picker class="form-control p-0"
                      name="DepartureDate"
                      [class.invalid-control] = "flightSearchInputErrors && flightSearchInputErrors.departureDateHasError"
                      #DepartureDate="ngModel"
                      [(ngModel)]="flightSearchParams.DepartureDate"
                      [options]="departureDatePickerOptions"
                      (dateChanged)="onDepartureDateChanged($event)"
                      required>

      </my-date-picker>
    </div>
  </div>
  <div class="form-group">
    <label>Return date</label>
    <div>
      <my-date-picker class="form-control p-0"
                      name="ReturnDate"
                      [class.invalid-control] = "flightSearchInputErrors && flightSearchInputErrors.returnDateHasError"
                      #ReturnDate="ngModel"
                      [(ngModel)]="flightSearchParams.ReturnDate"
                      [options]="returnDatePickerOptions"
                      (dateChanged)="onReturnDateChanged($event)"
                      required>
      </my-date-picker>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>

{{diagnostic}}

